/*
author@vibhu
*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: rgb(255, 255, 255);
}
.register-form{
  padding: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
 }

 #logout-btn{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    float: left;
    border-radius: 0.25rem;
    margin-right: 30px;
 }

 .register-container{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  border-radius: 10px;
  padding:10px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 #forgot-password{
  color:#fff;
  background-color: rgba(255,255,255,0);
  border: 0;
 }
 
 #forgot-password:hover{
   font-size: 1.05rem;
 }

 .row #phone-number{
   width: 100%;
   margin-bottom: 10px;
 }

 .row #otp-generator{
   width: 100%;
   margin-left: 0;
   margin-bottom: 15px;
 }
 .login-form{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 355px;
  border-radius: 10px;
  margin:auto;
  margin-top: 20px;
  margin-bottom:20px
 }

 .slots-in-location{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 600px;
  border-radius: 10px;
  margin:auto;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
 }

 .slots-in-location ul{
   padding-left: 0;
 }

 .slots-in-location h2{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 4px;
 }

 .slots-in-location #slot-item{
  background-color: #f0f6f7;
  padding: 40px;
  border-radius: 25px;
  margin: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
 }

 .slots-in-location #slot-item:hover{
  background-color: #ffffff;
  border-style: dashed;
  border-color:rgba(255, 31, 23, 0.685);
  border-width: 2px;
 }
 
 .slots-in-location #slot-item p{
   margin-top: 10px;
 }
 .admin{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 700px;
  border-radius: 10px;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 20px;
 }

 .admin .admin-dash{
   min-height: 200px;
 }

.admin #order-item{
  background-color: #f0f6f7;
  padding: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

#assigned-slots #order-item{
  background-color: #f0f6f7;
  padding: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}
.admin #order-item h3{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bold;
}

.admin h1{
  padding:20px;
  background-color: rgba(50,50,50,0.3);
  border-style: solid;
  border-width: 1px;
  border-color: #f9f9f9;
  text-align: left;
  padding-left: 50px;
  border-radius: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  color: azure; 
}

.admin h1:hover{
  border-style: dashed;
  background-color: rgba(50,50,50,0.45);
}

.admin button{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-bottom: 10px;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-left: 10px;
}

.admin .ManageEmployees h1{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
  font-size: xx-large;
  font-weight: normal;
  border: none;
  font-style: normal;
  color: #212529;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right:50px;
  margin-top: 10px;
}
.admin .ManageEmployees button{
  margin-top: 10px;
}

.admin .ManageEmployees #employee-item{
  background-color: #f0f6f7;
  padding: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}
.admin .ManageEmployees #employee-item h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.ManageParkingSlots h2{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
  margin-left: 20px;
  margin-right:20px;
}

.ManageParkingSlots #unique_enclosure{
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.ManageParkingSlots #unique_enclosure input[type="checkbox"]{
  margin-left: 20px;
}

.ManageParkingSlots #unique_enclosure button{
  margin-top: 8px;
}

.ManageParkingSlots #manage_slot_unique_div{
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ManageParkingSlots #manage_slot_unique_div select{
  margin-left: 20px;
}

.ManageParkingSlots #manage_slot_unique_div button{
  margin-left: 40px;
}

.ManageParkingSlots #slot-item{
  background-color: #f0f6f7;
  padding: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

 .login-form label{
   color: #f9f9f9;
   text-align: left;
   margin-bottom: 10px;
 }

 .login-form .logo{
   color: white;
 }

 .text-center p{
   color: white;
 }

 .signin
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logo img{
  border-radius: 10px;
  margin-bottom: 20px;
}

#dashboard
{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 690px;
  border-radius: 10px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dashboard #payment-p-green{
  text-align: right;
  margin-top: 30px;
  padding-right: 30px;
  font-size: large;
  color: greenyellow;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#dashboard #order-item{
  background-color: #f0f6f7;
  padding: 30px;
  border-radius: 25px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

#dashboard #order-item:hover{
  background-color: #ffffff;
  border-style: dashed;
  border-color:rgba(255, 31, 23, 0.685);
  border-width: 2px;
}

#dashboard #order-item h3{
  margin-bottom: 20px;
}

#edit-details{
  color: #fff;
  margin-top: 25px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    float: right;
    margin-right: 30px;
}

#dashboard h1:hover{
  border-style: dashed;
  background-color: rgba(50,50,50,0.45);
}
#dashboard h1{
  padding:20px;
  background-color: rgba(50,50,50,0.3);
  border-style: solid;
  border-width: 1px;
  border-color: #f9f9f9;
  text-align: left;
  padding-left: 50px;
  border-radius: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  color: azure;
}

#location-item:hover{
  background-color: #ffffff;
  border-style: dashed;
  border-color:rgba(255, 31, 23, 0.685);
  border-width: 2px;
}

#location-item label{
  margin-left: 10px;
}
#location-item input[type="checkbox"]{
  margin-left: 3px;
}

.other-container-fluid{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:30px;
  max-width: 700px;
  border-radius: 10px;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.other-container-fluid p{
  color:white;
}
.other-container-fluid label{
  font-size: large;background: rgba(50,50,50,0.3);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.other-container-fluid #carWash-chkbox{
  margin-left: 30px;
}

.other-container-fluid #repairs-chkbox{
  margin-left: 30px;
}

.other-container-fluid #dryWash-label{
  background:none;
  color: #212529;
}

.other-container-fluid #repairs-label{
  background:none;
  color: #212529;
}

.other-container-fluid #carWash-label{
  background:none;
  color: #212529;
}
.other-container-fluid input:not([type="checkbox"]){
  display: inline;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 10px;
  flex:1;
  margin-right: 70px;
}

.other-container-fluid h1{
  background: rgba(50,50,50,0.2);
  border-radius: 3px;
  margin-bottom: 20px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
}
#location-item{
  background-color: #f0f6f7;
  padding: 50px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

#dashboard h2{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  margin-top: 10px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
}
.btn-sm{
  background-color: #f9f9f9;
}

.edit-details{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 600px;
  border-radius: 10px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-form #login-redirect{
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: #0d6efd;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-top: -10px;
}

.register-form #login-redirect:hover{
  font-size: 1.05em;
}
.edit-details h2{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
}

.edit-details select{
  margin-left: 10px;
}

.edit-details input{
    display: inline;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    margin-left: 10px;
    flex:1;
    margin-right: 70px;
}
.edit-details div{
  text-align: left;
  display:flex;
  flex-direction:row;
  padding-left: 15%;
}
.edit-details label{
  font-size: large;background: rgba(50,50,50,0.3);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 6px;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.edit-details #edit-button{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-bottom: 10px;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

form.form-control{
   background-color: transparent;
   border: none;
 }
#add-balance{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-radius: 5px;
    margin-right: 50px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

#add-balance-btn{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}
 #register-redirect{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row{
  text-align: left; 
  color: white; 
}


.btn-otp
{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.App-link {
  color: #61dafb;
}

.form-label{
  padding:0px;
}
.register-h1{
  background-color: #0d6efd;
  padding:10px;
  padding-left: 38px;
  padding-right: 38px;
  width: 90%;
  color: beige;
  border-radius: 15px;
  margin:auto;
}

.employee-dashboard{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 600px;
  border-radius: 10px;
  margin:auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
  padding-bottom: 30px;
}

.employee-dashboard h1{
  
  margin: auto;
  margin-top: 60px;
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
    padding:20px;
    background-color: rgba(50,50,50,0.3);
    border-style: solid;
    border-width: 1px;
    border-color: #f9f9f9;
    text-align: left;
    padding-left: 40px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: azure; 
    margin-bottom: 30px;
}

.employee-dashboard h1:hover{
  border-style: dashed;
  background-color: rgba(50,50,50,0.45);
}

.employee-dashboard p{
  color: white;
}

.employee-dashboard #assigned-slots p{
  color: #212529;
}
.employee-dashboard #slot-item{
  background-color: #f0f6f7;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

.employee-dashboard button{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-bottom: 10px;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-left: 10px;
}

.order{
  background-image: linear-gradient(to right,blue,rgb(111, 111, 218));
  box-shadow: 5px 4px 10px grey ;
  padding:10px;
  max-width: 600px;
  border-radius: 10px;
  margin:auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.order p{
  color: white;
  font-style: italic;
}

.order h2{
  background: rgba(50,50,50,0.2);
  border-radius: 6px;
  
  font-family:Arial, Helvetica, sans-serif;
  padding: 4px;
  margin-bottom: 40px;
}

.order button{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-bottom: 10px;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-top: 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
